/* Style pour l'ensemble de la page */
* {
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    /*background-color: #f4f4f9;*/
    /*background: linear-gradient(135deg, #007bff, #6a0dad);*/
    /*background: linear-gradient(to top, #09203f 0%, #537895 100%);*/
    /*background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);*/
    background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
    overflow-x: hidden; /* Emphêche le défilement horizontal */
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

footer {
    background-color: #0e566a;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: space-between;
    align-items: center;
    gap: 20px;
}

#rules {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-right: auto;
    margin-bottom: 20px;
}

#rules h2 {
    color: #0e566a;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#rules ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #555;
    font-size: 0.9em;
}

#rules li {
    margin-bottom: 5px;
}

#logoFooter {
    width: 100px;
}

footer p {
    margin: 0;
}

footer a {
    color: #80d0c7;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

#title {
    color: #0e566a;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    animation: moveTitle 8s linear infinite;
}

/* Animation de déplacement de droite à gauche */
@keyframes moveTitle {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

#game, #victory {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
    width: 100%;
}

p {
    color: #555;
    font-size: 1em;
}

#minRange, #maxRange, #attempts {
    font-weight: bold;
    color: #007bff;
}

#color, #colorPop {
    font-weight: bold;
    color: #007bff;
}

/* Input style */
input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 1em;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="number"]:focus {
    border-color:#007bff;
}

/* Boutons de validation et de redémarrage */
button {
    background-color: #007bff;
    color: #fff;
    font-size: 1em;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

button:hover {
    background-color: #0056b3;
}

#feedback {
    font-size: 1.1em;
    color: #ff5722;
    margin-top: 15px;
}

/* Message de victoire */
#victory h2 {
    color: #28a745;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#victory button {
    background-color: #28a745;
}

#victory button:hover {
    background-color: #218838;
}

/* Responsive design */
@media (max-width: 500px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }
}